button {
  background-color: var(--bg-search);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
  transition: 0.3s;
}

button:hover {
  background-color: var(--accent-pink);
}

.post {
  float: left;
  max-width: 100%;
  border-radius: 15px;
  border: 3px solid var(--accent-pink);
  margin-left: 10%;
}

.post-info {
  float: left;
  width: 50%;
  height: 100%;
  margin-left: 5%;
  border-radius: 10px;
  padding: 2%;
  border: 2px solid var(--text-muted);
  background-color: var(--bg-search);
}

.post-info h2{
  margin-top: 0%;
}

.PubDetalle{
  float: left;
  width: 100%;

}

.com{
  display: block;
  clear: both;
}